/* Reset */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* General */
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font: 16px Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 320px;
    height: 100vh;
    background: black;
}

/* Canvas */
#game-scene {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    height: 100%;
}
canvas {
    width: 100%;
    height: 100%;
}

/* Animations */